.panelContainer{
    top:11vh;
    bottom:0;
    left:0;
    right:0;
    position:sticky;
    z-index: 2;
}

.sidePanel{
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  background-color:var(--secondColor);
  color:var(--firstColor);
  position: absolute;
  bottom:0;
  top:0;
  /* overflow: hidden; */
  /* zIndex: 3; */
  height: 100vh;
  width:0%;
  /* padding-top: 5vh; */
}

@keyframes slideAboutClosed {
      from {
          width:50%;
      }
      to {
          width:0%;
      }
}

@keyframes slideProjectsClosed {
      from {
          width:20%;
      }
      to {
          width:0%;
      }
}

@keyframes slideAbout {
      from {
          width:0%;
      }
      to {
          width:50%;
      }
}

@keyframes slideProjects {
      from {
          width:0%;
      }
      to {
          width:20%;
      }
}

@keyframes RightToLeft {
      0% {
          width:50%;
          z-index:2;
      }
      50% {
        width:100%;
        z-index:4;
      }
      100% {
          width:20%;
          z-index:2;
      }
}

@keyframes LeftToRight {
      0% {
          width:20%;
          z-index:2;
      }
      50% {
        width:100%;
        z-index:4;
      }
      100% {
          width:50%;
          z-index:2;
      }
}

@keyframes hoverProject {
    0% {
        margin-left: 0vw;
        font-size: 1em;
        /* background-color: var(--secondColor); */
    }
    100% {
        margin-left: 1vw;
        /* background-color: linear-gradient(90deg, rgba(161,68,44,1) 50%, rgba(238,233,229,1) 88%); */
        /* font-size: 1.2em; */
    }
}

@keyframes hoverOffProject {
    0% {
        margin-left: 1vw;
        /* font-size: 1.2em; */
    }
    100% {
        margin-left: 0vw;
        font-size: 1em;
    }
}

.btnSlide {
    /* display: inline-block; */
    color: #fff;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: var(--secondColor);
    border-top: 1px solid var(--thirdColor);
    border-bottom: 1px solid var(--thirdColor);

}

.btnSlide:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondColor);
    z-index: -2;
}
.btnSlide:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--thirdColor);
    transition: all 0.3s;
    z-index: -1;
}
.btnSlide:hover {
    color: #fff;
}
.btnSlide:hover:before {
    width: 100%;
}

.btnSlide spanTemp {
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    left:-100%;
    background-color: var(--secondColor);
    animation: slide 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide {
       from {left:-100%;}
       to {left: 0%;}
   }

